{% extends 'base.html' %}
{% block content %}
<h1>Book a Service</h1>
<form method="post">
    {{ form.hidden_tag() }}
    <p>{{ form.name.label }}<br>{{ form.name(size=32) }}</p>
    <p>{{ form.service.label }}<br>{{ form.service() }}</p>
    <p>{{ form.date.label }}<br>{{ form.date() }}</p>
    <p>{{ form.contact.label }}<br>{{ form.contact(size=32) }}</p>
    <button type="submit">Book Now</button>
</form>
{% for message in get_flashed_messages() %}
    <p style="color:green;">{{ message }}</p>
{% endfor %}
<p>
    <a href="https://wa.me/447729689420" target="_blank">
        <button type="button">Chat with us on WhatsApp</button>
    </a>
</p>
{% endblock %}
